<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      th:href="@{/css/styles.css}"
    />
    <script src="main.js"></script>
    <script>
      const compListReq = () => {
        location.href = "/api/company/list";
      };

      const deptListReq = () => {
        location.href = "/api/department/list";
      };

      const userListReq = () => {
        location.href = "/api/user/list";
      };

      const tempListReq = () => {
        location.href = "/api/template/list";
      };
    </script>
  </head>
  <body>
    <button class="btn" onclick="compListReq()">회사 목록</button>
    <button class="btn" onclick="deptListReq()">부서 목록</button>
    <button class="btn" onclick="userListReq()">사용자 목록</button>
    <button class="btn" onclick="tempListReq()">양식 목록</button>
  </body>
</html>
