<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>save</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <form action="/board/save" method="post">
        writer: <input type="text" name="boardWriter"> <br>
        pass: <input type="text" name="boardPass"> <br>
        title: <input type="text" name="boardTitle"> <br>
        contents: <textarea name="boardContents" cols="30" rows="10"></textarea> <br>
        <input type="submit" value="글작성">
    </form>
</body>
</html>